.project-group {
  margin-bottom: 4rem;
}

.project-group:last-child {
  margin-bottom: 0;
}

.project-group-header {
  background-color: var(--bg-secondary);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  border: 1px solid var(--border-light);
}

.project-group-header h3 {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-primary);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

@media (max-width: 900px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.project-card:hover .project-title {
  color: rgb(0, 130, 236);
}

.project-image-wrapper {
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: var(--bg-secondary);
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project-card:hover .project-image {
  transform: scale(1.05); /* Smooth zoom effect */
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.project-title-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.project-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-primary);
  transition: color 0.2s ease;
  margin: 0;
}

.project-year {
  font-size: 0.9rem;
  color: var(--text-primary);
  font-family: var(--font-display);
}

.project-description {
  font-size: 0.9rem;
  color: var(--text-secondary);
}